@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans:wght@300&display=swap');
body {
    background-color: white;
}

nav ul li a {
    font-family: 'Indie Flower', Helvetica, cursive;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    font-size: 2em;
    color: black;
}

div table a {
    font-family: 'Indie Flower', Helvetica, cursive;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    font-size: 1.5em;
    color: rgb(70, 130, 180);
}

div table ul li {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 1em;
    color: black;
}

div h1 {
    font-family: 'Indie Flower', Helvetica, cursive;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    font-size: 1.5em;
    color: rgb(70, 130, 180);
}

div table {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    font-size: 1em;
    color: black;
}

div table p {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-size: 0.8em;
    color: black;
}

div p {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 1em;
    color: black;
}

div b {
    font-family: 'Indie Flower', Helvetica, cursive;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    font-size: 1.5em;
    color: rgb(70, 130, 180);
}

body div p {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 1em;
    color: black;
}

form {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-size: 0.8em;
    color: black;
}